<div class="container mt-5 mb-5 d-flex align-items-center justify-content-center w-100 flex-column gap-4">
  <div class="filter-options">
    <div class="dropdown position-relative d-inline-block pe-5">
      <button class="dropbtn text fs-5 text-white pt-3 pb-3 ps-5 pe-5 text-start">
        Géneros
      </button>
      <div class="dropdown-content text-white w-75">
        <a>Acción</a>
        <a>Aventura</a>
        <a>Cooperación</a>
        <a>Carreras</a>
        <a>FPS</a>
        <a>Free to Play</a>
        <a>Indies</a>
        <a>MMO</a>
      </div>
    </div>
    <div class="dropdown position-relative d-inline-block pe-5">
      <button class="dropbtn text fs-5 text-white pt-3 pb-3 ps-5 pe-5 text-start">
        Ordenar por:
      </button>
      <div class="dropdown-content text-white w-75">
        <a>Supervivencias</a>
        <a>Descuento: Más alto</a>
        <a>Precio: Menor a Mayor</a>
        <a>Precio: Mayor a menor</a>
        <a>Salida: Reciente</a>
        <a>Salida: Antigua</a>
      </div>
    </div>
  </div>
  <div class="price-range d-flex text-white align-items-center justify-content-center ">
    <h5 class="pt-4">Entre</h5>
    <div class="container mt-3 text-white w-25">
      <input type="number" id="minPriceInput" class="form-control"
        style="background-color: hsla(0, 0%, 6%, .4); color: #fff;">
    </div>
    <h6 class="pt-3">y</h6>
    <div class="container mt-3 w-25">
      <input type="number" id="maxPriceInput" class="form-control"
        style="background-color: hsla(0, 0%, 6%, .4); color: #fff;">
    </div>
    <h6 class="pt-4 pe-4">$</h6>
    <div class="separador-buscador mt-3"></div>

    <div class="search w-100 d-flex m-3">
      <h5 class="pt-4">Buscar...</h5>
      <div class="container mt-3 text-white">
        <input type="text" id="nombreJuegoInput" class="form-control"
          style="background-color: hsla(0, 0%, 6%, .4); color: #fff;">
      </div>


    </div>

  </div>




</div>

<div class="games mt-5 mb-5">
  <div class="container d-flex mt-5 fs-2 fw-bold text-white">Más vendidos</div>
  <div class="container d-flex mt-5 d-flex flex-wrap align-items-center justify-content-center gap-4" id="gamescontent">

    <app-gameslist></app-gameslist>

  </div>
</div>
