.content-icons i{
  color: #fff;
}


.content-icons a:hover i{
  color: #ff4020;
}

#userLogged:hover {
  border: 2px solid;
  border-color: #ff4020;
}

/* user-menu.component.css */
.user-menu-container {
  position: relative;
  display: inline-block;
}

.user-menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;

}

.user-menu-dropdown {
  display: none;
  position: absolute;
  top: 100%; /* Adjust to align the dropdown below the button */
  right: 0; /* Aligns the dropdown to the right */
  border-radius: 10px;
  width: 200px;
  z-index: 1000;


  backdrop-filter: blur(60px) saturate(100%);
  -webkit-backdrop-filter: blur(60px) saturate(100%);
  box-shadow: 0 0 0 2000px hsla(0, 0%, 6%, .6);
  background-color: hsla(0, 0%, 100%, .1);

}

.user-menu-dropdown.show {
  display: block;
}

.dropdown-item {
  margin: 5px 0;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item:hover  {
  background-color: #ff4020;
  border-radius: 16px;

}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.dropdown-divider {
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background: hsla(0, 0%, 100%, .1)
}

#badge{
  background-color: #ff5400;
}

