.name-user{
  box-shadow: inset 0 0 0 2px #3d3d3d;
  caret-color: black;
  caret-shape: block;
  text-indent: 20px;
  color: #fff;
}

input:focus{
  border: none;
  outline: 1px solid #ff5400;;
  caret-color: auto;
  background-color: hsla(0, 0%, 6%, .4);
}

input{
  height: 75px;
  border: none;
  padding: 12px 0;
  background-color: hsla(0, 0%, 6%, .4);
}

input::placeholder{
  color: #999;
}
