/* Soporte */


ul li:hover{
  cursor: pointer;
}

ul li #icon{
  color: #fff;
  font-size: 20px;
}

ul li:hover #icon{
  color: #ff4020;
}

/* Contacto */

.content {
  margin: 0 auto;
  padding: 20px;
}

label {
  font-weight: bold;
  color: #ff4020;
  padding: 15px 0px;
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 100px;
}

input[type="button"] {
  background-color: #ff6600;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #ff5500;
}
