.alert-message{
  background-color: rgba(0, 171, 255, .15);;
  height: 50px;
  background-image: url("https://www.instant-gaming.com/themes/igv2/images/icons/alerts/icon-notice.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 25px;
}

.mesaage{
  color: #00abff;
}

.cover picture, .cover video {
  transition: transform 1s ease;
}

.cover video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover:hover video {
  display: block;
  transform: scale(1.1);
}

.item img{
  width: 350px;
  max-height: 200px;
  border-radius: 12px
}
