<footer>
  <div class="last-content container-sm ">
    <div class="links">
        <div class="text-center text-white pt-5 ">
            <div class="row d-flex flex-column flex-sm-row ">
              <div class="col">
                <div class="first-col d-flex flex-column align-items-start gap-3">
                    <a href="">Términos y condiciones</a>
                    <a href="">Política de privacidad</a>
                    <a [routerLink]="['soporte']" routerLinkActive="router-link-active" >Contacto</a>
                    <a href=""><i class="bi bi-gift pe-2" style="font-size: 20px;"></i>Canjear una tarjeta regalo</a>
                    <a [routerLink]="['comunidad']"><i class="bi bi-newspaper pe-2 " style="font-size: 20px;"></i> Descubre las últimas noticias de videojuegos</a>
                </div>
              </div>

              <div class="col mt-5 mt-sm-0">
                <div class="mb-4 fs-4">¡Visítanos en nuestras redes sociales!</div>
                <div class="medias d-flex align-items-center justify-content-center">
                    <div class="icons d-flex align-items-center justify-content-center flex-wrap flex-sm-row">
                        <a class="social-discord m-2" href="">
                            <i class="bi bi-discord" ></i>
                        </a>
                        <a class="social-discord m-2" href="">
                            <i class="bi bi-twitter-x" ></i>
                        </a>
                        <a class="social-discord m-2" href="">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a class="social-discord m-2" href="">
                            <i class="bi bi-facebook" ></i>
                        </a>
                        <a class="social-discord m-2" href="">
                            <i class="bi bi-youtube" ></i>
                        </a>
                        <a class="social-discord m-2" href="">
                            <i class="bi bi-twitch" ></i>
                        </a>
                    </div>
                </div>
            </div>

            </div>
          </div>
          <div class="last-information mt-5 pb-4">
            <div class="copyright text-white">Copyright © {{fecha}} Gaming Store - All rights reserved</div>
          </div>
    </div>
</div>
</footer>
