/* Carrusel */

#carousel{
  filter: brightness(75%);
}

.carousel-caption {
  position: absolute;
  left: 25%;
  transform: translate(-50%, -25%);
}

hr{
  height: 5px;
  width: 25%;
  margin: 20px 37%;
  background-image: linear-gradient(to right, #84170D, #A14320);
}

p{
  font-size: 32px;
}

/* Panel de contenido */

.trust-panel{
  background-color: #000e;
}

i{
  font-size: 40px;
  color: #ff4020;
}

/* Comentarios */

.partnerts-container{
  background-color: #323232;
}

.comment{
  color: #999;
}

.button{
  border-radius: 12px;
  box-sizing: border-box;
  height: 60px;
  background-image: linear-gradient(to right, #84170D, #A14320);
}

.items{
  background-color: #323232;
  margin: 15px;
  width: calc(100% - 30px);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.user .user-avatar{
  border-radius: 100%;
  height: 50px;
  width: 50px;
}


.text-comment{
  color: #999;
}

.social-discord {
  flex-shrink: 0;
  margin: 8px;
  padding: 12px 15px;
  transition: 0.1s;
  background-color: rgba(88, 101, 242, 0.2);
  border-radius: 100%;
  text-decoration: none;
}


app-portada{
  position: relative;
  bottom: 130px;
}

@media screen and (max-width: 552px) {
  app-portada{
    bottom: 0px;
  }
}
