<div class="comentarios mt-5 mb-5">
  <div class="container">
      <h4 class="text-white ">Los comentarios de los internautas</h4>
      <div class="feedbacks d-flex flex-wrap align-items-center justify-content-center">
          <div class="listening-feedbacks mt-4 d-flex flex-wrap align-items-center justify-content-center w-100">

            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                  <img class="user-avatar object-fit-cover" src="assets/users/joshy.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                    alt="rating" />
                  <a href="">Joselyn Castro</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">Pude comprar sin inconvenientes</div>
              <div class="time text-white mt-5">Hace 2 horas</div>
            </div>


            <div class="items d-flex flex-column justify-content-center w-auto" style="width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                  <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/14140615-1646682409.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                    alt="rating" />
                  <a href="" >Marvel's Spider-Man Remastered</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">Rápido y fácil, como siempre!</div>
              <div class="time text-white mt-5">Hace 8 horas</div>
            </div>


            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                      <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/7877029-1612199209.jpg" alt="" />
                  </a>

                  <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                      <img class="starts mx-0" style="width: 80px; height: 12px; "
                          src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                          alt="rating" />
                      <a href="" class="game-title">Fallout 4 GOTY Edition</a>
                  </div>
              </div>
              <div class="text-comment mt-4 overflow-hidden " style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">God vean la serie</div>
              <div class="time text-white mt-5">Hace 23 horas</div>
          </div>
            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                  <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/10190021-1585161401.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                    alt="rating" />
                  <a href="">Far Cry 3</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">Estoy muy agradecido con esta plataforma</div>
              <div class="time text-white mt-5">Hace 2 horas</div>
            </div>


            <div class="items d-flex flex-column justify-content-center w-auto" style="width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                  <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/6237434-1714240917.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                    alt="rating" />
                  <a href="" >Marvel's Spider-Man Remastered</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">Todo al instante y sin problemas</div>
              <div class="time text-white mt-5">Hace 8 horas</div>
            </div>


            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                      <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/1965663-1481049065.jpg" alt="" />
                  </a>

                  <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                      <img class="starts mx-0" style="width: 80px; height: 12px; "
                          src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                          alt="rating" />
                      <a href="" class="game-title">
                        Thief Simulator</a>
                  </div>
              </div>
              <div class="text-comment mt-4 overflow-hidden " style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " >
                Compra, pago, y recibo de los códigos instantáneo.
              </div>
              <div class="time text-white mt-5">Hace 23 horas</div>
          </div>
            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                      <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/18669675-1714230437.jpg" alt="" />
                  </a>

                  <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                      <img class="starts mx-0" style="width: 80px; height: 12px; "
                          src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                          alt="rating" />
                      <a href="" class="game-title">Fallout 76</a>
                  </div>
              </div>
              <div class="text-comment mt-4 overflow-hidden " style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " >
                Muy contento, más barato y 28 días de suscripción así que ni tan mal
               </div>
              <div class="time text-white mt-5">Hace 23 horas</div>
          </div>



          <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
            <div class="user d-flex gap-3 " style="width: 250px;">
              <a href="">
                  <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/1754089-1478193782.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                  alt="rating" />
                  <a href="">TopSpin 2K25</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " >ACABO DE COMPRAR EL PRODUCTO Y LA CALVE DE ACTIVACION YA ESTA SINEDO USADA EN OTRA CUENTA</div>
              <div class="time text-white mt-5">Hace 1 días</div>
            </div>




              </div>
      </div>
  </div>
</div>


<div class="reviews mt-5 mb-5">
  <div class="container">
      <h4 class="text-white">Reviews</h4>
      <div class="listening-reviews d-flex flex-wrap align-items-center justify-content-center ">
          <div class="item-review mt-4 d-flex flex-wrap align-items-center justify-content-center w-100 gap-5">

            <app-viewall-reviews></app-viewall-reviews>


          </div>
      </div>
  </div>
</div>
