<div class="comentarios mt-5 mb-5">
  <div class="container">
      <h4 class="text-white ">Los comentarios de los internautas</h4>
      <div class="feedbacks d-flex flex-wrap align-items-center justify-content-center">
          <div class="listening-feedbacks mt-4 d-flex flex-wrap align-items-center justify-content-center w-100">

            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                  <img class="user-avatar object-fit-cover" src="assets/users/joshy.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                    alt="rating" />
                  <a href="">Joselyn Castro</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">Pude comprar sin inconvenientes</div>
              <div class="time text-white mt-5">Hace 2 horas</div>
            </div>


            <div class="items d-flex flex-column justify-content-center w-auto" style="width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                  <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/14140615-1646682409.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                    alt="rating" />
                  <a href="" >Marvel's Spider-Man Remastered</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">Rápido y fácil, como siempre!</div>
              <div class="time text-white mt-5">Hace 8 horas</div>
            </div>


            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                      <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/7877029-1612199209.jpg" alt="" />
                  </a>

                  <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                      <img class="starts mx-0" style="width: 80px; height: 12px; "
                          src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                          alt="rating" />
                      <a href="" class="game-title">Fallout 4 GOTY Edition</a>
                  </div>
              </div>
              <div class="text-comment mt-4 overflow-hidden " style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">God vean la serie</div>
              <div class="time text-white mt-5">Hace 23 horas</div>
          </div>
            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                  <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/10190021-1585161401.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                    alt="rating" />
                  <a href="">Far Cry 3</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">Estoy muy agradecido con esta plataforma</div>
              <div class="time text-white mt-5">Hace 2 horas</div>
            </div>


            <div class="items d-flex flex-column justify-content-center w-auto" style="width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                  <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/6237434-1714240917.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                    alt="rating" />
                  <a href="" >Marvel's Spider-Man Remastered</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">Todo al instante y sin problemas</div>
              <div class="time text-white mt-5">Hace 8 horas</div>
            </div>


            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                      <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/1965663-1481049065.jpg" alt="" />
                  </a>

                  <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                      <img class="starts mx-0" style="width: 80px; height: 12px; "
                          src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                          alt="rating" />
                      <a href="" class="game-title">
                        Thief Simulator</a>
                  </div>
              </div>
              <div class="text-comment mt-4 overflow-hidden " style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " >
                Compra, pago, y recibo de los códigos instantáneo.
              </div>
              <div class="time text-white mt-5">Hace 23 horas</div>
          </div>
            <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
              <div class="user d-flex gap-3 " style="width: 250px;">
                <a href="">
                      <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/18669675-1714230437.jpg" alt="" />
                  </a>

                  <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                      <img class="starts mx-0" style="width: 80px; height: 12px; "
                          src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                          alt="rating" />
                      <a href="" class="game-title">Fallout 76</a>
                  </div>
              </div>
              <div class="text-comment mt-4 overflow-hidden " style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " >
                Muy contento, más barato y 28 días de suscripción así que ni tan mal
               </div>
              <div class="time text-white mt-5">Hace 23 horas</div>
          </div>



          <div class="items d-flex flex-column justify-content-center w-auto" style="max-width: 350px;">
            <div class="user d-flex gap-3 " style="width: 250px;">
              <a href="">
                  <img class="user-avatar object-fit-cover" src="https://gaming-cdn.com/images/avatars/1754089-1478193782.jpg" alt="" />
                </a>

                <div class="info d-flex flex-column align-items-start justify-content-start"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                  <img class="starts mx-0" style="width: 80px; height: 12px; "
                  src="https://www.instant-gaming.com/themes/igv2/modules/streamerBanner/images/stars-rating2.svg"
                  alt="rating" />
                  <a href="">TopSpin 2K25</a>
                </div>
              </div>
              <div class="text-comment mt-4" style=" width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " >ACABO DE COMPRAR EL PRODUCTO Y LA CALVE DE ACTIVACION YA ESTA SINEDO USADA EN OTRA CUENTA</div>
              <div class="time text-white mt-5">Hace 1 días</div>
            </div>




              </div>
      </div>
  </div>
</div>


<div class="reviews mt-5 mb-5">
  <div class="container">
      <h4 class="text-white">Reviews</h4>
      <div class="listening-reviews d-flex flex-wrap align-items-center justify-content-center ">
          <div class="item-review mt-4 d-flex flex-wrap align-items-center justify-content-center w-100 gap-5">

              <div class="card rounded-4 text-white " style="width: 22rem; max-height: 500;  background-color: #323232;">
                  <div class="item">
                      <a href="" class="cover d-flex justify-content-center align-items-center text-center" (mouseenter)="playVideo($event)" (mouseleave)="pauseVideo($event)">
                          <picture>
                              <img style="width: 100%; max-height: 200px; border-radius: 12px"
                                  src="https://gaming-cdn.com/images/products/2207/380x218/fallout-4-goty-edition-goty-edition-pc-juego-steam-cover.jpg?v=1714165200"
                                  (load)="lazyLoadImage($event)"  />
                          </picture>
                          <video class="position-absolute ms-3" preload="none" loop muted playsinline
                              style="width: 318px; height: 200px; border-radius: 12px">
                              <source
                                  src="https://gaming-cdn.com/videos/products/2207/800x450/fallout-4-goty-edition-goty-edition-pc-juego-steam-preview.webm?v=1657053009"
                                  type="video/webm" />
                          </video>
                      </a>
                  </div>
                  <div class="card-body max-height: 500px; overflow: auto;">
                    <h5 class="card-title d-flex align-items-center justify-content-center">
                      <a href="" class="w-25 mx-0 ">
                          <img class="user-avatar object-fit-cover w-75 object-fit-cover rounded-5" src="https://gaming-cdn.com/images/avatars/1615490-1544629512.jpg" alt="" />
                      </a>
                        <div class="icon w-25 pt-3 pb-2 ps-3  rounded-5 bg-danger bg-opacity-25">
                          <i class="bi bi-hand-thumbs-down ms-2 fs-2" style="color: #ff0a4e;"></i>
                        </div>
                    </h5>
                    <p class="card-text pt-4" style="color: #999999; max-height: 100px; overflow-y: auto;">
                      Aunque gráficamente es bonito y el rendimiento es bueno, le falta muchísimo camino por recorrer para que el juego sea interesante.</p>
                    <a href="#" class="btn pt-4" style="text-decoration: underline; color: #999;">Leer más</a>
                  </div>
                </div>

              <div class="card rounded-4 text-white " style="width: 22rem; max-height: 500px; background-color: #323232;">
                  <div class="item">
                      <a href="" class="cover d-flex justify-content-center align-items-center text-center" (mouseenter)="playVideo($event)" (mouseleave)="pauseVideo($event)">
                          <picture>
                              <img style="width: 100%; max-height: 200px; border-radius: 12px"
                                  src="https://gaming-cdn.com/images/products/6912/450x258/assassin-s-creed-valhalla-ultimate-edition-ultimate-edition-pc-juego-ubisoft-connect-europe-cover.jpg?v=1714323600"
                                  (load)="lazyLoadImage($event)" alt="" />
                          </picture>
                          <video class="position-absolute ms-3" preload="none" loop muted playsinline
                              style="width: 318px; height: 200px; border-radius: 12px">
                              <source
                                  src="https://gaming-cdn.com/videos/products/6912/800x450/assassin-s-creed-valhalla-ultimate-edition-ultimate-edition-pc-juego-ubisoft-connect-europe-preview.webm?v=1657030210"
                                  type="video/webm" />
                          </video>
                      </a>
                  </div>
                  <div class="card-body  overflow: auto;">
                    <h5 class="card-title d-flex align-items-center justify-content-center">
                      <a href="" class="w-25 mx-0 ">
                          <img class="user-avatar object-fit-cover w-75 object-fit-cover rounded-5" src="https://gaming-cdn.com/themes/igv2/images/avatar2.svg" alt="" />
                      </a>
                        <div class="icon w-25 pt-3 pb-2 ps-3  rounded-5 bg-success bg-opacity-25">
                          <i class="bi bi-hand-thumbs-up ms-2 fs-2" style="color: #6dd432;"></i>
                        </div>
                    </h5>
                    <p class="card-text pt-4" style="color: #999999; max-height: 100px; overflow-y: auto;">
                      Lo que debió haber sido strondhold y no supieron hacer. Es adictivo ver la actividad de tu aldea. El nivel de detalle es enfermizo. Aun le queda camino hasta la 1.0 pero va a ser, o es ya, la referencia de los juegos de estrategia.
                  </p>
                    <a href="#" class="btn pt-4" style="text-decoration: underline; color: #999;">Leer más</a>
                  </div>
                </div>

                <div class="card rounded-4 text-white" style="width: 22rem; max-height: 500; background-color: #323232;">
                  <div class="item">
                      <a href="" class="cover d-flex justify-content-center align-items-center text-center" (mouseenter)="playVideo($event)" (mouseleave)="pauseVideo($event)">
                          <picture>
                              <img style="width: 100%; max-height: 200px; border-radius: 12px" src="https://gaming-cdn.com/images/products/11907/450x258/marvel-s-spider-man-remastered-pc-juego-steam-cover.jpg?v=1714323600" loading="lazy" />
                          </picture>
                          <video class="position-absolute ms-3" preload="none" loop muted playsinline style="width: 318px; height: 200px; border-radius: 12px">
                              <source src="https://gaming-cdn.com/videos/products/11907/800x450/marvel-s-spider-man-remastered-pc-juego-steam-preview.webm?v=1663603302" type="video/webm" />
                          </video>
                      </a>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title d-flex align-items-center justify-content-center">
                          <a href="" class="w-25 mx-0">
                              <img class="user-avatar object-fit-cover w-75 object-fit-cover rounded-5" src="https://gaming-cdn.com/images/avatars/7586331-1559495793.jpg" (load)="lazyLoadImage($event)" alt="" />
                          </a>
                          <div class="icon w-25 pt-3 pb-2 ps-3 rounded-5 bg-success bg-opacity-25">
                              <i class="bi bi-hand-thumbs-up ms-2 fs-2" style="color: #6dd432;"></i>
                          </div>
                      </h5>
                      <p class="card-text pt-4" style="color: #999999; max-height: 100px; overflow-y: auto;">
                          Me ha gustado mucho, pero me esperaba algo más después de una década entera de desarrollo. Creo que en un balance general sus pros superan los contras, ya que lo que promete es no es tanto un guion de película sino un gameplay entretenido mediante sus mecánicas de combate y viceras volando.
                      </p>
                      <a href="#" class="btn pt-4" style="text-decoration: underline; color: #999;">Leer más</a>
                  </div>
              </div>


              <div class="card rounded-4 text-white " style="width: 22rem; max-height: 500; background-color: #323232;">
                  <div class="item">
                      <a href="" class="cover d-flex justify-content-center align-items-center text-center" (mouseenter)="playVideo($event)" (mouseleave)="pauseVideo($event)">
                          <picture>
                              <img style="width: 100%; max-height: 200px; border-radius: 12px"
                                  src="https://gaming-cdn.com/images/products/9143/450x258/star-wars-jedi-survivor-pc-juego-ea-app-cover.jpg?v=1714323600"
                                  (load)="lazyLoadImage($event)" alt="" />
                          </picture>
                          <video class="position-absolute ms-3" preload="none" loop muted playsinline
                              style="width: 318px; height: 200px; border-radius: 12px">
                              <source
                                  src="https://gaming-cdn.com/videos/products/9143/800x450/star-wars-jedi-survivor-pc-juego-ea-app-preview.webm?v=1681311827"
                                  type="video/webm" />
                          </video>
                      </a>
                  </div>
                  <div class="card-body ">
                    <h5 class="card-title d-flex align-items-center justify-content-center">
                      <a href="" class="w-25 mx-0 ">
                          <img class="user-avatar object-fit-cover w-75 object-fit-cover rounded-5" src="https://gaming-cdn.com/images/avatars/902913-1544480329.jpg" alt="" />
                      </a>
                        <div class="icon w-25 pt-3 pb-2 ps-3  rounded-5 bg-success bg-opacity-25">
                          <i class="bi bi-hand-thumbs-up ms-2 fs-2" style="color: #6dd432;"></i>
                        </div>
                    </h5>
                    <p class="card-text pt-4" style="color: #999999; max-height: 100px; overflow-y: auto;">
                      Es un pedazo de juego al que le tenia muchas ganas durante más de 2 años, estoy seguro de que lo jugaré durante más de 100h escogiendo cada camino posible junto a cada build de este maravilloso juego.
                  </p>
                    <a href="#" class="btn pt-4" style="text-decoration: underline; color: #999;">Leer más</a>
                  </div>
                </div>



          </div>
      </div>
  </div>
</div>
