<div class="container-fluid">
  <div class="content d-flex flex-column align-items-center justify-content-center w-100">
    <div class="content-email d-flex flex-column text-center">
      <span class="fs-4 ">Seguridad de la cuenta</span>
      <span class="fs-6 mb-4 " style="color: #999;">{{user}}</span>
    </div>
    <div class="content-newEmail w-100">
      <span class="fs-4 mt-5">Cambiar tu e-mail</span>

      <form action="">

        <div class="mb-3">
         <input type="text" class="name-user form-control" placeholder="Tu nuevo e-mail">
        </div>

        <div class="mb-3">
         <input type="text" class="name-user form-control " placeholder="Confirma tu nuevo e-mail">
        </div>

        <div class="mb-3">
         <input type="text" class="name-user form-control " placeholder="Tu contraseña actual">
        </div>



         <button type="submit" class="btn updateData px-4 py-3">Enviar</button>

       </form>

    </div>
  </div>
</div>
