<div class="container ">
  <div class="row">
    <!-- Formulario de Juegos -->
    <div class="col-md-6 mb-4">
      <div class="card bg-dark text-white border-light">
        <div class="card-header">
          <h4>Agregar Juego</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="juegoForm" (ngSubmit)="agregarJuego()">
            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen</label>
              <input id="imagen" formControlName="imagen" class="form-control" placeholder="Imagen">
              <div *ngIf="juegoForm.get('imagen').invalid && (juegoForm.get('imagen').dirty || juegoForm.get('imagen').touched)">
                <small *ngIf="juegoForm.get('imagen').errors['required']">El link de la imagen es requerida.</small>
              </div>
            </div>
              <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input id="nombre" formControlName="nombre" class="form-control" placeholder="Nombre">
              <div *ngIf="juegoForm.get('nombre').invalid && (juegoForm.get('nombre').dirty || juegoForm.get('nombre').touched)">
                <small *ngIf="juegoForm.get('nombre').errors['required']">El nombre es requerido.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="number" id="precio" formControlName="precio" class="form-control" placeholder="Precio">
              <div *ngIf="juegoForm.get('precio').invalid && (juegoForm.get('precio').dirty || juegoForm.get('precio').touched)">
                <small *ngIf="juegoForm.get('precio').errors['required']">El precio es requerido.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="video" class="form-label">Video</label>
              <input id="video" formControlName="video" class="form-control" placeholder="Video">
              <div *ngIf="juegoForm.get('video').invalid && (juegoForm.get('video').dirty || juegoForm.get('video').touched)">
                <small *ngIf="juegoForm.get('video').errors['required']">El link del video es requerida.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="portada" class="form-label">Portada</label>
              <input id="portada" formControlName="portada" class="form-control" placeholder="Portada">
            </div>
            <button type="submit"  class="btn btn-primary">Agregar Juego</button>
          </form>
        </div>
      </div>
    </div>

     <!-- Formulario de Información -->
     <div class="col-md-6 mb-4">
      <div class="card bg-dark text-white border-light">
        <div class="card-header">
          <h4>Agregar Información</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="juegoForm" (ngSubmit)="agregarInformacion()">
            <div class="mb-3">
              <label for="juegoId" class="form-label">Juego</label>
              <select class="form-control" formControlName="juegoId" id="juegoId">
                <option value="">Selecciona el juego</option>
                @for (juegos of juegosId; track $index) {
                <option [value]="juegos.id">
                  {{juegos.nombre}}
                </option>
              }
            </select>
            </div>

            <div class="mb-3">
              <label for="acercade" class="form-label">Acerca de</label>
              <input id="acercade" formControlName="acercade" class="form-control" placeholder="Acerca de">
            </div>
            <div class="mb-3">
              <label for="desarrollador" class="form-label">Desarrollador</label>
              <input id="desarrollador" formControlName="desarrollador" class="form-control" placeholder="Desarrollador">
            </div>
            <div class="mb-3">
              <label for="distribuidor" class="form-label">Distribuidor</label>
              <input id="distribuidor" formControlName="distribuidor" class="form-control" placeholder="Distribuidor">
            </div>
            <div class="mb-3">
              <label for="fechaLanzamiento" class="form-label">Fecha de Lanzamiento</label>
              <input id="fechaLanzamiento" formControlName="fechaLanzamiento" class="form-control" placeholder="Fecha de Lanzamiento">
            </div>
            <div class="mb-3">
              <label for="genero" class="form-label">Género</label>
              <input id="genero" formControlName="genero" class="form-control" placeholder="Género">
            </div>
            <h5>Especificaciones Mínimas</h5>
            <div class="mb-3">
              <label for="minimaOS" class="form-label">OS</label>
              <input id="minimaOS" formControlName="minimaOS" class="form-control" placeholder="OS">
            </div>
            <div class="mb-3">
              <label for="minimaProcessor" class="form-label">Processor</label>
              <input id="minimaProcessor" formControlName="minimaProcessor" class="form-control" placeholder="Processor">
            </div>
            <div class="mb-3">
              <label for="minimaMemory" class="form-label">Memory</label>
              <input id="minimaMemory" formControlName="minimaMemory" class="form-control" placeholder="Memory">
            </div>
            <div class="mb-3">
              <label for="minimaGraphics" class="form-label">Graphics</label>
              <input id="minimaGraphics" formControlName="minimaGraphics" class="form-control" placeholder="Graphics">
            </div>
            <div class="mb-3">
              <label for="minimaStorage" class="form-label">Storage</label>
              <input id="minimaStorage" formControlName="minimaStorage" class="form-control" placeholder="Storage">
            </div>
            <h5>Especificaciones Recomendadas</h5>
            <div class="mb-3">
              <label for="recomendadaOS" class="form-label">OS</label>
              <input id="recomendadaOS" formControlName="recomendadaOS" class="form-control" placeholder="OS">
            </div>
            <div class="mb-3">
              <label for="recomendadaProcessor" class="form-label">Processor</label>
              <input id="recomendadaProcessor" formControlName="recomendadaProcessor" class="form-control" placeholder="Processor">
            </div>
            <div class="mb-3">
              <label for="recomendadaMemory" class="form-label">Memory</label>
              <input id="recomendadaMemory" formControlName="recomendadaMemory" class="form-control" placeholder="Memory">
            </div>
            <div class="mb-3">
              <label for="recomendadaGraphics" class="form-label">Graphics</label>
              <input id="recomendadaGraphics" formControlName="recomendadaGraphics" class="form-control" placeholder="Graphics">
            </div>
            <div class="mb-3">
              <label for="recomendadaStorage" class="form-label">Storage</label>
              <input id="recomendadaStorage" formControlName="recomendadaStorage" class="form-control" placeholder="Storage">
            </div>
            <button type="submit" class="btn btn-primary">Agregar Información</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
