<div class="container-fluid mb-5 mx-auto w-100 " id="noticias-content">
  <div class="news m-auto">
      <h2 class="text-white fw-bold mt-5 mb-5 text-center">Noticias de videojuegos de PC y consolas</h2>
      <div class="highlighted-container ">
          <div class="listening-nws ">
              <div class="row  d-flex mx-auto justify-content-center align-items-center">


                  <div class="col-6 col-sm-6">
                      <a class="links-news" href="">
                          <picture>
                              <img class="img-fluid img-new w-100" src="https://gaming-cdn.com/images/news/articles/6103/cover/1000x563/a-que-vamos-a-jugar-este-fin-de-semana-44-cover662bbaa0a97e2.jpg" alt="">
                          </picture>
                          <div class="content-news">
                              <div class="title fs-5">¿A qué vamos a jugar este fin de semana? #44</div>
                          </div>
                      </a>
                  </div>
                  <div class="col-6 col-sm-6">
                      <a class="links-news" href="">
                          <picture>
                              <img class="img-fluid img-new w-100" src="https://gaming-cdn.com/images/news/articles/6100/cover/1000x563/manor-lords-ya-esta-disponible-en-acceso-anticipado-cover662bb30728139.jpg" alt="">
                          </picture>
                          <div class="content-news">
                              <div class="title fs-5">Manor Lords ya está disponible en acceso anticipado</div>
                          </div>
                      </a>
                  </div>



              </div>
          </div>
      </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h4 class="text-white">Últimas noticias</h4>
  <div class="row ">

      <div class="col">
        <a href="">
          <div class="content-news">
              <div class="badge d-flex" style="gap: 10px;">
                  <div class="tag-trending">
                      <i class="bi bi-fire" style="font-size: 15px;"></i>
                  <span style="color: #ff5400; font-size: 15px;">Trending</span>
                  </div>
                  <span style="color: #ffffff80; font-size: 15px;">ayer</span>
              </div>
              <div class="title"><a href="" class="links-news">¿A qué vamos a jugar este fin de semana? #44</a></div>
              <div class="text text-white">Muchos estarán ocupados a manos llenas con Manor Lords, Stellar Blade o TopSpin 2K25, pero si eres de a los que les gusta nadar contracorriente, te traemos unos cuantos títulos de perfil más bajo para que les hinques el diente. Vamos, ¡al turrón!
                  Nexus 5X
                  Empecemos con un juego de estrategia por turnos…</div>
                  <div class="artiche-data d-flex gap-3 mt-3">
                      <div class="reactions ">
                          <i class="bi bi-emoji-smile" style="font-size: 17px; color: #999;"></i>
                          <span class="text-white">2</span>
                      </div>
                      <div class="videos">
                          <i class="bi bi-youtube" style="font-size: 17px; color: #999;"></i>
                          <span class="text-white">5</span>
                      </div>
                  </div>
            </div>
        </a>

        
        <div class="separadorx mt-4"></div>

        <a href="" class="d-flex mt-5 w-100 gap-4 align-items-center justify-content-start flex-column flex-md-row">
          <div class="cover">
               <iframe  src="https://www.youtube.com/embed/RjLH7QmDPqc" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="content-news2 w-100" style="flex-direction: column;">
              <div class="badge">
                  <span style="color: #ffffff80; font-size: 15px; text-align: start;">ayer</span>
              </div>
              <div class="title">Intento de ataques a la página de la Velada </div>
              <div class="text" style="color: #999;">Los intentos masivos de ataques DDoS siguen haciendose presente en la página de la velada del año...</div>
          </div>
        </a>

        <div class="separadorx mt-4"></div>

        <a href="" class="d-flex mt-5 gap-4 align-items-center justify-content-start flex-column flex-md-row">
          <div class="cover" >
               <iframe  src="https://www.youtube.com/embed/Th-s68g1XBM" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="content-news2 w-100"  style="flex-direction: column;">
              <div class="badge">
                  <span style="color: #ffffff80; font-size: 15px; text-align: start;">hace 2 días</span>
              </div>
              <div class="title">Importantes cambios dentro del parche 14.8 </div>
              <div class="text" style="color: #999;">Uno de los cambios más importantes para los jugadores de LOL está apunto de llegar...</div>
          </div>
        </a>



      </div>

      <div class="col d-block d-lg-flex">

          <div class="separador2 mt-4 d-none d-lg-block "></div>

          <div class="panel-store mx-auto">
              <div class="d-flex align-items-center justify-content-center align-items-lg-start justify-content-lg-start" style="flex-direction: column;">
                  <div class="headline d-flex gap-5 mt-4">
                      <h4 class="text-white">Juegos populars</h4>
                      <a class="view-all" target="_blank" href="">Ver todo</a>
                  </div>

                  <div class="trending-container mt-5 w-100">
                      <a href="" class="d-flex gap-3  align-items-center justify-content-center">
                          <picture class="cover">
                              <img style="border-radius: 12px;" src="https://gaming-cdn.com/images/products/8253/150x86/manor-lords-pc-juego-steam-europe-cover.jpg?v=1714269153" alt="" class="picture">
                          </picture>
                          <div class="content w-100">
                              <div class="text">Manor Lords</div>
                              <div class="date">
                                  <div class="number">2024-04-25</div>
                              </div>
                          </div>
                          <div class="price">21.99$</div>
                      </a>
                  </div>

                  <div class="separador3 mt-4"></div>

                  <div class="trending-container mt-5 w-100">
                      <a href="" class="d-flex gap-3 align-items-center justify-content-center">
                          <picture class="cover">
                              <img style="border-radius: 12px;" src="https://gaming-cdn.com/images/products/9575/150x86/helldivers-2-pc-juego-steam-europe-cover.jpg?v=1714269153" alt="" class="picture">
                          </picture>
                          <div class="content w-100">
                              <div class="text">Helldivers 2</div>
                              <div class="date">
                                  <div class="number">2024-02-07</div>
                              </div>
                          </div>
                          <div class="price">30.00$</div>
                      </a>
                  </div>

                  <div class="separador3 mt-4"></div>

                  <div class="trending-container mt-5 w-100">
                      <a href="" class="d-flex gap-3 align-items-center justify-content-center">
                          <picture class="cover">
                              <img style="border-radius: 12px;" src="https://gaming-cdn.com/images/products/16034/150x86/dead-island-2-gold-edition-gold-edition-pc-juego-steam-cover.jpg?v=1714269153" alt="" class="picture">
                          </picture>
                          <div class="content w-100">
                              <div class="text">Dead Island 2 Gold Edition</div>
                              <div class="date">
                                  <div class="number">2024-04-01</div>
                              </div>
                          </div>
                          <div class="price">31.00$</div>
                      </a>
                  </div>

                  <div class="separador3 mt-4"></div>

                  <div class="trending-container mt-5 w-100">
                      <a href="" class="d-flex gap-3 align-items-center justify-content-center">
                          <picture class="cover">
                              <img style="border-radius: 12px;" src="https://gaming-cdn.com/images/products/11144/150x86/another-crab-s-treasure-pc-juego-steam-cover.jpg?v=1714269153" alt="" class="picture">
                          </picture>
                          <div class="content w-100">
                              <div class="text">Another Crab's..
                              </div>
                              <div class="date">
                                  <div class="number">2024-04-24</div>
                              </div>
                          </div>
                          <div class="price">12.00$</div>
                      </a>
                  </div>
              </div>
          </div>

      </div>

    </div>
</div>
