.example-container {
  width: auto;
  background-color: #272727;
}

mat-drawer{
  background-color: #000000bf;
}

a{
  padding: 15px 20px;
  border-radius: 12px;
  width: 100%;
}

.active{
  background-color: #ff5400;
  transition: ease-out .2s;
}

.active:hover{
  background-color: #ff4020;
  transition: ease-out .5s;
}
