ul{
  list-style: none;
  color: white ;

}

ul li{
  cursor: pointer;
}

.active{
  color: #ff5400;
  transition: ease-out .2s;
}

ul li a:hover{
  color: #ff4020;
}

.separator-list{
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background: hsla(0, 0%, 100%, .1)
}

/* Comentarios */

.items{
  background-color: #323232;
  margin: 15px;
  width: calc(100% - 30px);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.user .user-avatar{
  border-radius: 100%;
  height: 50px;
  width: 50px;
}


.text-comment{
  color: #999;
}


.cover picture, .cover video {
  transition: transform 1s ease;
}

.cover video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover:hover video {
  display: block;
  transform: scale(1.1);
}

.item img{
  width: 350px;
  max-height: 200px;
  border-radius: 12px
}


